<%- include('./commonHeader.ejs'); %>

    <head>
        <title>
            Game Of Life
        </title>
    </head>
    <script type="text/javascript" src="/javascripts/game/v1/game.js"></script>
    <script type="text/javascript" src="/javascripts/game/v2/game.js"></script>
    <script type="text/javascript" src="/javascripts/game/v3/game.js"></script>

    <script>


        const params = new URLSearchParams(window.location.search)
        const max = params.get('max')
        const life = params.get('life')
        var cpt = 0
        const speed = 100
        var interval
        const oldCell = 50



        function applyCpt(cpt) {
            document.getElementById("compteur").textContent = cpt
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            startGame()
            
        });

        function start() {
            interval = setInterval(() => {
                applyMouvementV2(getCurrentStatutV2());
                applyCpt(cpt++);
            }, speed)
        }

        function stop() {
            clearInterval(interval)
        }

        function oneStep() {
            applyMouvementV2(getCurrentStatutV2());
            applyCpt(cpt++);
        }

    </script>

    <body class="container-fluid bg-light">
        <div class="mt-2 p-5 ">
            <h1>Cycle de vie : <span id="compteur"></span></h1>
            <table class="mb-5">
                <tr>
                    <th class="border bg-primary p-1"></th>
                    <th class="border bg-secondary p-1"></th>
                    <th class="border bg-success p-1"></th>
                    <th class="border bg-danger p-1"></th>
                    <th class="border bg-warning p-1"></th>
                    <th class="border bg-info p-1"></th>
                    <th class="border bg-dark p-1"></th>
                    <th class="border bg-light p-1"></th>
                </tr>
                <tr>
                    <td>Eau</td>
                    <td>Montagne</td>
                    <td>Forêt</td>
                    <td>Calamité</td>
                    <td>Sable</td>
                    <td>Glace</td>
                    <td>Civilisation</td>
                    <td>Vide</td>
                </tr>
            </table>

            <!--<%- include('./gameBoardV1.ejs'); %>-->
            

            <div class="row mb-5">
                <button type="button" onclick="stop()" class="mt-2 col btn btn-outline-danger btn-lg">Stop</button>
                <button type="button" onclick="oneStep()" class="mt-2 col btn btn-outline-primary btn-lg">Step</button>
                <button type="button" onclick="start()" class="mt-2 col btn btn-outline-success btn-lg">Start</button>
            </div>


            <canvas width="2000" height="1000">
                Désolé, votre navigateur ne prend pas en charge &lt;canvas&gt;.
            </canvas>


        </div>
    </body>