<%- include('./commonHeader.ejs'); %>

    <head>
        <title>
            Game Of Life
        </title>
    </head>

    <script>
        const params = new URLSearchParams(window.location.search)
        const max = params.get('max')
        const life = params.get('life')

        function getCurrentStatut() {
            let array = []
            for (let i = 0; i < max; i++) {
                array[i] = []
                for (let j = 0; j < max * 2; j++) {
                    let formule1d = max * 2 * i + j
                    array[i][j] = document.getElementById(formule1d).classList.contains('bg-dark') || document.getElementById(formule1d).classList.contains('bg-danger');

                }
            }
            return array
        }

        function applyMouvement(array) {

            for (let i = 0; i < max; i++) {
                for (let j = 0; j < max * 2; j++) {
                    let formule1d = max * 2 * i + j

                    let currentCell = array[i][j]

                    let iNext = (i + 1 == max ? max - 1 : i + 1)
                    let iPrec = (i - 1 == -1 ? 0 : i - 1)
                    let jNext = (j + 1 == max * 2 ? max * 2 - 1 : j + 1)
                    let jPrec = (j - 1 == -1 ? 0 : j - 1)
                    let cellFriends = [
                        array[iNext][jPrec],
                        array[iNext][j],
                        array[iNext][jNext],
                        array[iPrec][jPrec],
                        array[iPrec][j],
                        array[iPrec][jNext],
                        array[i][jNext],
                        array[i][jPrec]
                    ]
                    var friendAlive = cellFriends.filter(cf => cf == true).length                 

                    if (currentCell) {
                        if (friendAlive == 3 || friendAlive == 2) { //still alive
                            document.getElementById(formule1d).classList.remove('bg-danger')
                            document.getElementById(formule1d).classList.add('bg-dark')
                        } else { //death
                            document.getElementById(formule1d).classList.remove('bg-danger')
                            document.getElementById(formule1d).classList.remove('bg-dark') // main rule
                        }
                    }else {
                        if (friendAlive == 3) { // alive
                            document.getElementById(formule1d).classList.add('bg-danger') // main rule
                        }
                    }
                }
            }
        }

        function applyCpt(cpt) {
            document.getElementById("compteur").textContent = cpt
        }

        document.addEventListener("DOMContentLoaded", function (event) {
            var cpt = 0
            var speed = 0
            setInterval(() => {
                applyMouvement(getCurrentStatut());
                applyCpt(cpt++);
            }, speed)
        });

    </script>

    <body class="container-fluid bg-light">
        <div class="mt-2 p-5 ">
            <h1>Cycle de vie : <span id="compteur"></span></h1>
            <table>

                <% for(var i=0; i<max; i++) {%>
                    <tr>
                        <% for(var j=0; j<max*2; j++) {%>

                            <% if(array[i][j]){ %>
                                <td class="border bg-dark p-1" id="<%= max * 2 * i + j %>">
                                </td>
                                <% } else {%>
                                    <td class="border p-1 " id="<%= max * 2 * i + j %>">
                                    </td>
                                    <% } %>
                                        <% } %>
                    </tr>
                    <% } %>


            </table>
        </div>
    </body>