<%- include('./commonHeader.ejs'); %>
<head>
    <title>
        Chargement en cours ...
    </title>
</head>

<body class="container bg-dark">
    <div class="mt-5 p-5 border rounded-5 bg-light">
        <%- include('./loader.ejs'); %>
    </div>
</body>