<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>
        Fichier créée
    </title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="container bg-dark">
    <div class="mt-5 p-5 border rounded-5 bg-light">
        <div class="text-center">
            <h1>
                <%= message %>
            </h1>
        </div>

        <% if (fileName) {%>
            <form action="/file" method="post" enctype="multipart/form-data">
                <input name="fileName" type="hidden" value="<%= fileName %>">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-info btn-lg" type="submit">Recuperer le fichier Excel</button>
                </div>
            </form>
            <% } %>
                <div class="d-grid gap-2 mt-1">
                    <a href="/" class="btn btn-outline-primary btn-lg" type="button">Retour à l'accueil</a>
                </div>
    </div>
    </div>
</body>

</html>