<!--<table>

    <% for(var i=0; i<max; i++) {%>
        <tr>
            <% for(var j=0; j<max*2; j++) {%>

                <% if(array[i][j]){ %>
                    <td class="border bg-dark p-1 " id="<%= max * 2 * i + j %>">

                    </td>
                    <% } else {%>
                        <td class="border p-1 " id="<%= max * 2 * i + j %>">

                        </td>
                        <% } %>
                            <% } %>
        </tr>
        <% } %>






</table> -->