<script src="/javascripts/fromAPI.js"></script>
<div id="result" class="mt-5 " style="display: none;">
  <h2 id="result_title" class="text-center">DEFAULT_TITLE</h2>
  <pre id="result_info" class="text-left">DEFAULT_INFO</pre>
  <div class="text-center"><a
      href="https://test-management.orangeapplicationsforbusiness.com/squash/requirement-workspace/" target="_blank"
      class="btn btn-outline-success btn-lg" type="button">Voir dans Squash</a>
    <input class="btn btn-outline-danger btn-lg" type="button" value="Nouvelle itération" onclick="hideLoading()" />
  </div>

</div>
<div id="loading" class="mt-5 text-center" style="display: none;">
  <h2>Chargement en cours ...</h2>
  <h3 id="ws_return"></h3>
  <%- include('../loader.ejs'); %>
    <div class="progress">
      <div id="progress_bar" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar" style="width: 0%"></div>
    </div>
    <div class="text-center m-2">
      <button type="button" onclick="hideLoading()" class="btn btn-outline-danger btn-lg" name="validator"
        value="api">Annuler</button>
    </div>
</div>
<form action="/fromAPI" id="formFormApi" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <div class="row">
      <div class="col-6">
        <label for="inputSprintJira" class="form-label">Numéro de Sprint dans Jira</label>
        <input type="input" class="form-control" id="inputSprintJira" name="inputSprintJira"
          aria-describedby="sprintHelp" onchange="updateSprintFolderName(this.value)">
        <div id="sprintHelp" class="form-text">Le numéro du sprint doit bien être présent dans Jira</div>
      </div>
      <div class="col-6">
        <label for="inputSprint" class="form-label">Nom du dossier dans Squash</label>
        <input type="input" class="form-control" id="inputSprint" name="inputSprint" aria-describedby="sprintHelp">
        <div id="sprintHelp" class="form-text">Valeur par défaut : undefined</div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label for="inputSessionTokenJira" class="form-label">ID de session Jira</label>
        <input type="input" class="form-control" id="inputSessionTokenJira" name="inputSessionTokenJira"
          aria-describedby="sessionHelp" required>
        <div id="sessionHelp" class="form-text">Se connecter à <a href="<%=jiraHome%>" target="_blank">Jira</a> et
          récupérer le cookie "JSESSIONID"</div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" onclick="showLoading();callApi()" class="btn btn-outline-success btn-lg" name="validator"
      value="api">Jira ➡️ Squash</button>
  </div>
</form>