<form action="/rf2squash" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="inputSprint" class="form-label">Sprint n°</label>
    <input type="input" class="form-control" id="inputSprint" name="inputSprint" aria-describedby="sprintHelp">
    <div id="sprintHelp" class="form-text">Valeur par défaut : Robot FrameWork</div>
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">Resultat robotFrameWork</label>
    <input class="form-control" type="file" id="formFile" name="formFile" accept=".xml" required
      aria-describedby="fileHelp">
    <div id="fileHelp" class="form-text">Uniquement les fichiers .xml</div>
  </div>
  <div class="mb-3">
    <label for="inputSessionTokenSquash" class="form-label">ID de session Squash</label>
    <input type="input" class="form-control" id="inputSessionTokenSquash" name="inputSessionTokenSquash"
      aria-describedby="sessionHelp" required>
    <div id="sessionHelp" class="form-text">Se connecter à Squash et récupérer le cookie JSESSIONID,
      uniquement necessaire</div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Transférer</button>
  </div>
</form>
<form action="/rf2squashnofile" method="post" enctype="multipart/form-data">
  <div class="mb-3 row">
    <div class="col-3"><label for="inputSprint" class="form-label">Sprint n°</label>
      <input type="input" class="form-control" id="inputSprint" name="inputSprint" aria-describedby="sprintHelp">
      <div id="sprintHelp" class="form-text">Valeur par défaut : Robot FrameWork</div>
    </div>
    <div class="col-9"><label for="inputSessionTokenSquash" class="form-label">ID de session Squash</label>
      <input type="input" class="form-control" id="inputSessionTokenSquash" name="inputSessionTokenSquash"
        aria-describedby="sessionHelp" required>
      <div id="sessionHelp" class="form-text">Se connecter à Squash et récupérer le cookie JSESSIONID,
        uniquement necessaire</div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success">Transférer</button>
  </div>
</form>