<script>
  function showLoadingRf2Sq() {
    var form = document.getElementById("rf2squash");
    form.style.display = "none"
    var loading = document.getElementById("loading_rf2sq");
    loading.style.display = "block"
  }

  function hideLoadingRf2Sq() {
    var form = document.getElementById("rf2squash");
    form.style.display = "block"
    var loading = document.getElementById("loading_rf2sq");
    loading.style.display = "none"
    var result = document.getElementById("result_rf2sq");
    result.style.display = "none"
    //window.stop();
  }

  function showResultRf2Sq() {
    var form = document.getElementById("rf2squash");
    form.style.display = "none"
    var loading = document.getElementById("loading_rf2sq");
    loading.style.display = "none"
    var result = document.getElementById("result_rf2sq");
    result.style.display = "block"
  }

  var webSocketRf2Sq = new WebSocket('ws://localhost:3002/', 'test-protocol')
  webSocketRf2Sq.onmessage = event => {
    console.log(event);
    if (event.data instanceof Blob) {
      event.data.text().then(txt => {
        console.log(txt)
        let data = JSON.parse(txt)
        let message = data.message
        let percent = data.percent

        let h3 = document.getElementById('ws_return_rf2sq')
        let progressBar = document.getElementById('progress_bar_rf2sq')

        h3.textContent = message
        progressBar.setAttribute("style", "width: " + percent + "%")
      })
    } else {
      console.log("Result: " + event.data);
    }
  }

  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  function callApiRf2Sq() {
    let payload = {
      inputSessionTokenSquash: document.querySelectorAll("[id='inputSessionTokenSquash']")[1].value,
      inputSprint: document.querySelectorAll("[id='inputSprint']")[1].value
    }

    let data = new FormData()
    //data.append("json",JSON.stringify(payload))
    data.append("inputSessionTokenSquash", document.querySelectorAll("[id='inputSessionTokenSquash']")[1].value)
    data.append("inputSprint", document.querySelectorAll("[id='inputSprint']")[1].value)
    fetch("/api/rf2squashnofile", {
      method: "POST",
      body: data
    }).then(async res => {
      console.log("debut de la sessions redirection")
      while (document.getElementById("progress_bar_rf2sq").style.width !== "100%") {
        await sleep(1000)
        console.log("wait");
      }
      console.log("fin de la sessions redirection")
      return res.json()
    }).then(res => {
      console.log(res)
      showResultRf2Sq()
      var h2 = document.getElementById("result_rf2sq_title")
      var pre = document.getElementById("result_rf2sq_info")
      h2.textContent = res.message
      pre.textContent = res.moreInfo
    }).catch(err => console.log(err))
  }

</script>
<div id="result_rf2sq" class="mt-5 " style="display: none;">
  <h2 id="result_rf2sq_title" class="text-center"></h2>
  <pre id="result_rf2sq_info" class="text-left"></pre>
  <div class="text-center"><a
      href="https://test-management.orangeapplicationsforbusiness.com/squash/requirement-workspace/" target="_blank"
      class="btn btn-outline-success btn-lg" type="button">Voir dans Squash</a>
    <input class="btn btn-outline-danger btn-lg" type="button" value="Nouvelle itération"
      onclick="hideLoadingRf2Sq()" />
  </div>
</div>
<div id="loading_rf2sq" class="mt-5 text-center" style="display: none;">
  <h2>Chargement en cours ...</h2>
  <h3 id="ws_return_rf2sq"></h3>
  <%- include('../loader.ejs'); %>
    <div class="progress">
      <div id="progress_bar_rf2sq" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar" style="width: 0%"></div>
    </div>
    <div class="text-center m-2">
      <button type="button" onclick="hideLoadingRf2Sq()" class="btn btn-outline-danger btn-lg" name="validator"
        value="api">Annuler</button>
    </div>
</div>
<form action="/rf2squashnofile" id="rf2squash" method="post" enctype="multipart/form-data">
  <div class="mb-3 row">
    <div class="col-3"><label for="inputSprint" class="form-label">Sprint n°</label>
      <input type="input" class="form-control" id="inputSprint" name="inputSprint" aria-describedby="sprintHelp">
      <div id="sprintHelp" class="form-text">Valeur par défaut : Robot FrameWork</div>
    </div>
    <div class="col-9"><label for="inputSessionTokenSquash" class="form-label">ID de session Squash</label>
      <input type="input" class="form-control" id="inputSessionTokenSquash" name="inputSessionTokenSquash"
        aria-describedby="sessionHelp" required>
      <div id="sessionHelp" class="form-text">Se connecter à <a
          href="https://test-management.orangeapplicationsforbusiness.com/squash/home-workspace"
          target="_blank">Squash</a> et récupérer
        le cookie JSESSIONID</div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-success btn-lg" name="validator"
      onclick="showLoadingRf2Sq();callApiRf2Sq()" value="api">Transférer</button>
  </div>
</form>