<script src="/javascripts/fromRF.js"></script>
<div id="result_rf2sq" class="mt-5 " style="display: none;">
  <h2 id="result_rf2sq_title" class="text-center"></h2>
  <!--pre id="result_rf2sq_info" class="text-left"></pre-->
  <div class="text-center">
    <a href="https://test-management.orangeapplicationsforbusiness.com/squash/requirement-workspace/" target="_blank"
      class="btn btn-outline-success btn-lg" type="button">Voir dans Squash</a>
    <input class="btn btn-outline-danger btn-lg" type="button" value="Nouvelle itération"
      onclick="hideLoadingRf2Sq()" />
    <a href="/rfhtml" target="_blank" class="btn btn-outline-primary btn-lg" type="button">Voir détail Robot
      FrameWork</a>
  </div>
  <div class="row" id="result_rf2sq_detail">
    <div class="card m-2 bg-success bg-gradient mx-auto" style="width: 10rem;">
      <div class="card-body ">
        <h5 class="card-title">idTest ✅ / ❌ </h5>
        <p class="card-text">dhkjfhsd :fdshfsgdj</p>
      </div>
    </div>
    <div class="card m-2 bg-danger bg-gradient mx-auto" style="width: 10rem;">
      <div class="card-body ">
        <h5 class="card-title">idTest ✓ / ❌ </h5>
      </div>
    </div>
  </div>
  <div class="text-center"><a
      href="https://test-management.orangeapplicationsforbusiness.com/squash/requirement-workspace/" target="_blank"
      class="btn btn-outline-success btn-lg" type="button">Voir dans Squash</a>
    <input class="btn btn-outline-danger btn-lg" type="button" value="Nouvelle itération"
      onclick="hideLoadingRf2Sq()" />
    <a href="/rfhtml" target="_blank" class="btn btn-outline-primary btn-lg" type="button">Voir détail Robot
      FrameWork</a>
  </div>

</div>
<div id="loading_rf2sq" class="mt-5 text-center" style="display: none;">
  <h2>Chargement en cours ...</h2>
  <h3 id="ws_return_rf2sq"></h3>
  <%- include('../loader.ejs'); %>
    <div class="progress">
      <div id="progress_bar_rf2sq" class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar" style="width: 0%"></div>
    </div>
    <div class="text-center m-2">
      <button type="button" onclick="hideLoadingRf2Sq()" class="btn btn-outline-danger btn-lg" name="validator"
        value="api">Annuler</button>
    </div>
</div>
<form action="/rf2squashnofile" id="rf2squash" method="post" enctype="multipart/form-data">
  <div class="mb-3 row">
    <div class="col"><label for="inputSprint" class="form-label">Sprint n°</label>
      <input type="input" class="form-control" id="inputSprint" name="inputSprint" aria-describedby="sprintHelp">
      <div id="sprintHelp" class="form-text">Valeur par défaut : Robot FrameWork</div>
    </div>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-outline-success btn-lg" name="validator"
      onclick="showLoadingRf2Sq();callApiRf2Sq()" value="api">Robot FrameWork ➡️ Squash</button>
  </div>
</form>